{{ define "main" }}
<body onload="reset()">
  <section class="intro">
    <div class="post-header">
      <a class="go-back" href='{{ .Site.BaseURL }}'><svg aria-hidden="true" focusable="false" data-prefix="far" class="back-icon" data-icon="caret-square-left" height="25px" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M272 157.1v197.8c0 10.7-13 16.1-20.5 8.5l-98.3-98.9c-4.7-4.7-4.7-12.2 0-16.9l98.3-98.9c7.5-7.7 20.5-2.3 20.5 8.4zM448 80v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-48 346V86c0-3.3-2.7-6-6-6H54c-3.3 0-6 2.7-6 6v340c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"></path></svg> </a>
      <h2 class="post-title">{{.Title}}</h2>
    </div>    
    <form id="my-form" name="contact" method="POST" action="{{ .Site.Params.main.contactFormAction | relURL }}" >
        <input type="hidden" name="accessKey" value="{{ .Site.Params.main.contact_key }}" >
        <input type="hidden" name="subject" value="Club Jocs form">
        <div class="grid">
          <label for="name"><br>Nom<br></label>
          <input class="input" type="text" name="name" placeholder="Nom i cognoms" required>
          <br>
          <label for="email">Direcció d'email:</label>
          <br>
          <input type="email" id="email" name="email" placeholder="Correu electrònic" required>
        </div>
        <label for="classroom">Classe:</label>
          <br>
          <select class="input" name="$classroom" id="classroom">
          <option value="no value"></option>
          <option value="p3">P3</option>
          <option value="p4">P4</option>
          <option value="p5">P5</option>
          <option value="1r">1er</option>
          <option value="2n">2n</option>
          <option value="3r">3r</option>
          <option value="4t">4t</option>
          <option value="5è">5è</option>
          <option value="6è">6è</option>          
        </select>
        <select class="input" name="$classroom_letter" id="classroom_letter" data-show-if="classroom">
          <option value="no value"></option>
          <option value="A">A</option>
          <option value="B">B</option>
        </select>
        <br>
        <label for="Message">Missatge</label><br>
        <textarea name="message" id="message" cols="40" rows="10" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' placeholder="Escriu el teu missatge" maxlength="500" required></textarea>
        <input type="hidden" name="_gotcha" style="display:none !important">
        <br>
        <input type="hidden" name="redirectTo" value='{{ "/thanks" | absURL }}'>
        <!-- <input type="submit" value="Submit" />         -->
        <div class="h-captcha" data-captcha="true" data-sitekey="{{ .Site.Params.main.hcaptcha_key }}" data-callback="callback"></div>
        <button id="my-form-button" class="button_disabled" disabled>Enviar</button>
      </form>
      <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
      <script>
        function reset(){
          document.getElementById("my-form").reset();
        }
        function callback() {
          const submitButton = document.getElementById("my-form-button");
          submitButton.removeAttribute("disabled");
          submitButton.classList.remove("button_disabled");
          submitButton.classList.add("button_enabled");
        }
    </script>      
    </div>
  </div>
  </section>
</body>
{{ end }}