{{- define "main" }}
<section class="intro">
  <div class="post-header">
    <a class="go-back" href='{{ .Site.BaseURL }}'><svg aria-hidden="true" focusable="false" data-prefix="far" class="back-icon" data-icon="caret-square-left" height="25px" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M272 157.1v197.8c0 10.7-13 16.1-20.5 8.5l-98.3-98.9c-4.7-4.7-4.7-12.2 0-16.9l98.3-98.9c7.5-7.7 20.5-2.3 20.5 8.4zM448 80v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-48 346V86c0-3.3-2.7-6-6-6H54c-3.3 0-6 2.7-6 6v340c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"></path></svg> </a>
    <h2 class="post-title">{{.Title}}</h2>
  </div>
  {{ if .IsTranslated }}
  <p>Also available in: </p>
  <nav class="LangNav">
    {{ range .Translations }}
    <a class="link" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    {{ end}}
  </nav>
  {{ end }}
  <div class="content">
    {{.Content }}
  </div>
{{ end }}