{{define "main"}}
<div class="intro">
    <hi style="font-size:60px;">No es troba la pàgina</hi>
    <p style="text-align:center">Aquesta pàgina no existeix. Perdoneu les molèsties<br><a class="link" href="{{.Site.BaseURL}}">Retorna a la pàgina inicial</a></p>
</div>
{{ end }}
